DOCTYPE(html)
html(lang="ru")
    head
        meta(charset="utf-8")
        title Тестовое приложение
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(href="../build/main.css" rel="stylesheet")
    .blog
        include users-list/users-list.jade
        include posts-list/posts-list.jade
    script(src="https://js.cx/babel-core/browser.min.js")
    script(src="../app/users-list/show_users-list.js")
    script(src="../app/posts-list/show_posts-list.js")
    script(src="../app/post-comments/show_comments.js")
    script(src="../app/post-comments/close_comments.js")
    script(src="../app/app.js")