DOCTYPE(html)
html(lang="ru")
    head
        meta(charset="utf-8")
        title Тестовое приложение
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(href="../build/main.css" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://js.cx/babel-core/browser.min.js")
        script(src="../app/app.js")
        script(src="../app/users-list/scripts/show_users-list.js")
        //- script(src="../app/posts-list/scripts/show_posts-list.js")
        //- script(src="../app/post-comments/scripts/show_comments.js")
        //- script(src="../app/post-comments/scripts/close_comments.js")
    .blog
        include users-list/users-list.jade
        include posts-list/posts-list.jade
        
