body
    margin 0
    padding 0
    background-color #efefef

.blog
    padding-top 30px
    display flex
    align-items flex-start
    justify-content center
    max-width 95%
    margin 0 auto

    &__border
        box-shadow 0 3px 3px rgba(128,168,177,0.79)
        border-radius 30px
        margin-left 10px