.users-list
    width 30%
    max-width 250px
    background-color #fff
    min-height 100px

    &__info
        display flex
        justify-content flex-start
        align-items center
        cursor pointer

    &__user-image
        min-width 46px
        min-height 46px
        background-image url("../app/users-list/images/default.png")
        background-repeat no-repeat
        background-size 46px
        border-radius 50%
        margin 10px

    &__user-name
        color #f00