.profile-photo
    padding-top 30px
    display flex
    align-items flex-start
    justify-content center
    max-width 95%
    margin 0 auto

    &__image
        min-width 46px
        min-height 46px
        background-image url('../app/profile_photo/images/default.png')
        background-repeat no-repeat
        background-size 46px
        border-radius 50%
        margin 10px

    &__user-name
        color red

.user-info
    width 30%
    max-width 250px
    background-color #ffffff
    min-height 100px

.posts 
    width 80%
    background-color #ffffff

.posts-line
    box-shadow 0 3px 3px rgba(128, 168, 177, 0.79)
    border-radius 30px
    margin-left 10px

.user-wrapper
    display flex
    justify-content flex-start
    align-items center 
    cursor pointer

.post-title {
    font-size: 2.16667em;
    font-weight: 700;
    line-height: 140%;
    color: #4e5056;
    margin: 0;
}

.description 
    font 400 18px/1.6 Brandon Text,sans-serif
    color #4e5056
    margin 0

.send
    color #fff
    background-color #ef5350
    width 140px
    height 45px
    font-size 1.1em
    border-radius 5px
    border none
    font-weight bold
    margin 3%
    cursor pointer

.post 
    margin 5%


.post-comments 
    box-shadow 0 3px 3px rgba(128,168,177,0.79)
    background-color #fbfafa
    border-radius 20px
    opacity 0.8
    padding 15px
    margin-top 15px

.comment-name 
    margin 0
    line-height 1.5em
    font-weight normal
    font-style italic

.comment-content 
    margin 0
    line-height 1.4em

.user-email
    display flex
    justify-content flex-end
    line-height 2em 