.profile-photo
    padding-top 30px
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__image
        width 46px
        height 46px
        background-image url('../app/profile_photo/images/default.png')
        background-repeat no-repeat
        background-size 46px
        border-radius 50%
        margin 10px

    &__user-name
        color red

.user-info
    width 30%
    background-color #ffffff
    min-height 100px

.posts 
    width 70%
    height 100px
    background-color #ffffff

.posts-line
    box-shadow 0 3px 3px rgba(128, 168, 177, 0.79)
    border-radius 30px
    margin-left 10px

.user-wrapper
    display flex
    justify-content flex-start
    align-items center 
    cursor pointer