.profile-photo
    width 300px
    height 300px
    background-color #f0f0f0
    padding-top 30px

    &__image
        width 200px
        height 200px
        background-image url('../app/profile_photo/images/default.png')
        background-repeat no-repeat
        background-size 200px
        margin 0 auto
        border-radius 10px

    &__user-name
        color red
        text-align center